* {
  border: border-box;
}

html, body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 500px;
  min-height: 100vh;
  padding: 20px;
}

body {
  font-size: 1.8em;
  font-family: 'roboto', sans-serif;
  line-height: 1.1;
  background-color: hsl(0, 0%, 80%);
  color: black;
}